# Puerto en el que la aplicación se ejecutará
PORT=8080

# MongoDB URI
MONGODB_URI=mongodb://localhost:27017/your-database

# Clave privada para JWT (usada para firmar tokens)
PRIVATE_KEY=secret

# Credenciales de GitHub OAuth
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret

# URL de devolución de llamada para la autenticación de GitHub
GITHUB_CALLBACK_URL=https://your-app-url/auth/github/callback
