body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.profile-container {
    position: relative;
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

.logout-button,
.change-password-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #fff;
    background-color: rgb(180, 18, 18);
    border-radius: 4px;
    text-decoration: none;
}

.change-password-button {
    background-color: #28a745;
}

.logout-button:hover,
.change-password-button:hover {
    opacity: 0.8;
}

.back-button {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #1e8421;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.back-button:hover {
    opacity: 0.8;
}