<div class="change-password-container">
    <a href="/" class="back-button">&#x2190;</a>
    <div id="error-message" class="error-message" style="display: none;"></div>

    <h1>Cambiar Contraseña</h1>
    <form action="/auth/api/change-password" method="POST">
        <div class="form-group">
            <label for="oldPassword">Contraseña Actual</label>
            <input type="password" id="oldPassword" name="oldPassword" required>
        </div>
        <div class="form-group">
            <label for="newPassword">Nueva Contraseña</label>
            <input type="password" id="newPassword" name="newPassword" required>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirmar Nueva Contraseña</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>
        <button type="submit">Cambiar Contraseña</button>
    </form>
</div>


<script src="/js/change-password.js"></script>