<div class="contact-container">
    <a href="/" class="back-button">&#x2190;</a>
    <h1>Contacto</h1>
    <form action="/send-message" method="POST">
        <div class="form-group">
            <label for="subject">Asunto</label>
            <input type="text" id="subject" name="subject" required>
        </div>
        <div class="form-group">
            <label for="message">Mensaje</label>
            <textarea id="message" name="message" required></textarea>
        </div>
        <button class="btn" type="submit">Enviar Mensaje</button>
    </form>
</div>