<div>
    <header>
        {{!-- <img class="img-logo" src="/img/logo.png" alt="Gym App"> --}}
        <h1>Gym App</h1>
        <div class="menu">
            <a href="/contact" class="btn">Contacto</a>
            <a href="/auth/profile" class="btn">Ver Perfil</a>
            <a href="/auth/logout" class="btn">Logout</a>
        </div>
    </header>

    <main>
        <h2>¡Bienvenido a Gym App!</h2>
        <p>¡Hola {{name}}! Aquí podrás encontrar toda la información sobre tu gimnasio.</p>
        <p>En la sección de <a href="/contact">Contacto</a> podrás encontrar toda la información de contacto de tu
            gimnasio.</p>
        <p>En la sección de <a href="/auth/profile">Perfil</a> podrás ver toda la información de tu perfil.</p>
        <p>En la sección de <a href="/auth/logout">Logout</a> podrás cerrar sesión.</p>
        <footer>
            <p>© 2024 Gym App</p>
        </footer>
</div>

<script src="/js/home.js"></script>