<div class="login-container">
    <h1>Login</h1>
    <form action="/auth/api/login" method="POST">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
    <p>No tienes cuenta? <a href="/auth/register">Regístrate aquí</a></p>

    <!-- Botón para ingresar con GitHub con icono de Font Awesome -->
    <a href="/auth/github" class="btn btn-github">
        <i class="fa-brands fa-github"></i> Ingresar con GitHub
    </a>
</div>